# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/

# Ignora la carpeta del Javadoc
dist/

# Ignora todos los .class, .exe, .zip y .rar
*.class
*.exe
*.zip
*.rar